@model LCC.WebUI.Models.StudentModel

@{

    Layout =null;
 Layout = "~/Views/Shared/Admin_Layout.cshtml";
}


@using (Html.BeginForm("SelectMonthForFee", "Student", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <h4>Fee Month</h4>
    <hr />
    @Html.ValidationSummary(true)

    <div class="col-lg-12 col-md-12">

        @if (TempData["SuccessMessage"] != null)
        {
        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
        }
        @if (TempData["UnsuccessMessage"] != null)
        {
        <div class="alert alert-danger">@TempData["UnsuccessMessage"]</div>
        }
    </div>



    <div class="form-group">
        @Html.Label("Class", new { @class = "control-label col-sm-1 " })

        <div class="col-sm-2">
            @Html.DropDownListFor(model => model.classe.ClassId, ViewBag.Class as SelectList,"-Select-" ,new { @class = "form-control", id = "Class" })

        </div>
    </div>
    <div class="form-group">
        @Html.Label("Student Category", new { @class = "control-label col-sm-1" })
        <div class="col-sm-2">
            @Html.DropDownListFor(model => model.studentCategory.Id, ViewBag.StudentCategory as SelectList,"-Select-", new { @class = "form-control", id = "CategoryType" })

        </div>
    </div>

}
<table class="tblProducts list" id="tblProducts">
    <thead>
        <tr>
            <th align="left" class="table-Header Name">Fee Name</th>
            <th align="left" class="table-Header Yea">Yearly</th>
            <th align="left" class="table-Header Jan">January</th>
            <th align="left" class="table-Header Feb">February</th>
            <th align="left" class="table-Header Mar">March</th>
            <th align="left" class="table-Header Apr">April</th>
            <th align="left" class="table-Header May">May</th>
            <th align="left" class="table-Header Jun">June</th>
            <th align="left" class="table-Header Jul">July</th>
            <th align="left" class="table-Header Aug">August</th>
            <th align="left" class="table-Header Sep">September</th>
            <th align="left" class="table-Header Oct">October</th>
            <th align="left" class="table-Header Nov">November</th>
            <th align="left" class="table-Header Dec">December</th>
        </tr>

    </thead>
    <tbody>


    </tbody>



</table>

<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@{

    <script type="text/javascript">

        $(document).ready(function () {

            $("#CategoryType  ,#Class").bind("click", function () {

                $("#tblProducts").show();
                
                $("#tblProducts tbody tr").remove();

                $.ajax({

                    type: 'POST',

                    url: '@Url.Action("GetFeeMonth")',
                    dataType: 'json',
                    data: { categoryId: $("#CategoryType").val(), classId: $("#Class").val() },
                    success: function (data) {
                        var items = '';

                        $.each(data, function (i, item) {
                         
                         
                            var s = "<tr>"

                            + "<td class='prtoducttd'>" + item.Name + "</td>";
                           
                            if (item.Yea == true) {
                                s += "<td class='prtoducttd'>  <input type='checkBox' checked='' /> </td>";
                            } else {
                                s += " <td class='prtoducttd'> <input type='checkBox' /> </td>";

                            }
                        
                            if(item.Jan==true)
                            {
                                s += "<td class='prtoducttd'>  <input type='checkBox' checked='' /> </td>";
                            }else{
                                s += " <td class='prtoducttd'> <input type='checkBox' /> </td>";

                            }

                            if (item.Feb == true) {
                                s += " <td class='prtoducttd'> <input type='checkBox' checked='' /> </td>";
                            } else {
                                s += " <td class='prtoducttd'> <input type='checkBox' /> </td>";

                            }
                            if (item.Mar == true) {
                                s += " <td class='prtoducttd'> <input type='checkBox' checked='' /> </td>";
                            } else {
                                s += " <td class='prtoducttd'> <input type='checkBox' /> </td>";

                            }
                            if (item.Apr == true) {
                                s += " <td class='prtoducttd'> <input type='checkBox' checked='' /> </td>";
                            } else {
                                s += " <td class='prtoducttd'> <input type='checkBox' /> </td>";

                            }
                            if (item.May == true) {
                                s += " <td class='prtoducttd'> <input type='checkBox' checked='' /> </td>";
                            } else {
                                s += " <td class='prtoducttd'> <input type='checkBox' /> </td>";

                            }
                            if (item.Jun == true) {
                                s += "<td class='prtoducttd'>  <input type='checkBox' checked='' /> </td>";
                            } else {
                                s += " <td class='prtoducttd'> <input type='checkBox' /> </td>";

                            }

                            if (item.Jul == true) {
                                s += " <td class='prtoducttd'> <input type='checkBox' checked='' /> </td>";
                            } else {
                                s += " <td class='prtoducttd'> <input type='checkBox' /> </td>";

                            }
                            if (item.Aug == true) {
                                s += " <td class='prtoducttd'> <input type='checkBox' checked='' /> </td>";
                            } else {
                                s += " <td class='prtoducttd'> <input type='checkBox' /> </td>";

                            }
                            if (item.Sep == true) {
                                s += " <td class='prtoducttd'> <input type='checkBox' checked='' /> </td>";
                            } else {
                                s += " <td class='prtoducttd'> <input type='checkBox' /> </td>";

                            }
                            if (item.Oct == true) {
                                s += " <td class='prtoducttd'> <input type='checkBox' checked='' /> </td>";
                            } else {
                                s += " <td class='prtoducttd'> <input type='checkBox' /> </td>";

                            }

                            if (item.Nov == true) {
                                s += " <td class='prtoducttd'> <input type='checkBox' checked='' /> </td>";
                            } else {
                                s += " <td class='prtoducttd'> <input type='checkBox' /> </td>";

                            }
                            if (item.Dec == true) {
                                s += " <td class='prtoducttd'> <input type='checkBox' checked='' /> </td>";
                            } else {
                                s += " <td class='prtoducttd'> <input type='checkBox' /> </td>";

                            }




                            s+= "</tr>";
                            $('#tblProducts tbody').append(s);
                        });

                    },
                    error: function (ex) {
                        var r = jQuery.parseJSON(response.responseText);
                        alert("Message: " + r.Message);
                        alert("StackTrace: " + r.StackTrace);
                        alert("ExceptionType: " + r.ExceptionType);
                    }
                });
                return false;
            })
        });
    </script>

    <style type="text/css">
        .input-validation-error {
            border: 1px solid #ff0000;
            background-color: #ffeeee;
        }

        .tblProducts {
            font-size: 12px;
            color: white;
            border-width: 5px;
            border-color: #666666;
            border-collapse: collapse;
        }

        .productth {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: black;
        }

        .prtoducttd {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }

        .input-validation-error {
            border: 1px solid #ff0000;
            background-color: #ffeeee;
        }
    </style>

}